.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "ANMELDELSER AF REDNINGSMANDEN";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card .cta_btn {
  justify-self: center;
}
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text-inverted);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
}
/***********************dialog********************/
.cta_btn #close_btn {
  border-radius: 10px;
}

.news_card #dialog1 {
  padding: 50px;
  margin: 50px;
  gap: 20px;
  background-color: white;
  justify-self: center;
  place-self: center;
  border-radius: 10px;
  border: none;
  max-width: 600px;
  color: black;
  line-height: 2rem;
}

::backdrop {
  backdrop-filter: blur(5px);
}

.news_card .cta_btn {
  background-color: var(--color-cta-newscard-bg);
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
  color: var(--color-text);
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

/******************popover**************/

[popover] {
  padding: 4rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  opacity: 0;
  rotate: 90deg;
  transition: 0.5s allow-discrete;
  border-radius: 10px;
  line-height: 2rem;
  border: none;

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
  }

  &::backdrop {
    background: #0008;
  }
}

:popover-open {
  opacity: 1;
  rotate: none;
  @starting-style {
    opacity: 0;
    rotate: 90deg;
  }
}
