:root {
  /* Colours */
  --color-bg: #f7f6f5; /* page background /*

  /* Header */
  --color-head-bg: #e7cd91;

  /* Logotype */
  --color-logotype-bg: #e4c8e2;
  --color-text-logotype: black;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #e4c8e2;
  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #e2b76d;
  --color-headline-text-page: black;

  /* Tekst */
  --color-text: black;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #798d6f;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #e4c8e2;
  --color-cta-newscard-bg: #e2b76d;
  --color-cta-newscard-bg-inverted: #9d6fa0;

  /* Fonts */
  --font-family-sans: "Rubik";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 900;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #798d6f;
  --color-infobox-1-bg: #798d6f;
  --color-infobox-2-bg: #969995;
}
