:root {
  color-scheme: light;
  /*--color-brand: light-dark(#fffae2, #2d2d2d);
  --color-text: light-dark(#2d2d2d, #fffae2);
  --color-bg: light-dark(#fffae2, #2d2d2d);*/

  color: var(--color-text);
  background-color: var(--color-);

  /* Colours */
  --color-bg: #f7f6f5; /* page background /*

  /* Header */
  --color-head-bg: light-dark(#a31c16, #798d6f);

  /* Logotype */
  --color-logotype-bg: #a31c16;
  --color-text-logotype: black;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #a31c16;
  /* Links */
  --color-link-bg: light-dark (#e4c8e2, #78766e);
  --color-link-hover: #fff; /* used */
  --color-link-active: #a31c16; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark (#e7cd91, #f8b73a);
  --color-headline-text-page: white;

  /* Tekst */
  --color-text: light-dark(black, white);
  --color-text-inverted: light-dark(black, white);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 10px;

  /* Cards */
  --color-card-bg: light-dark(#e4c8e2, #cccdc9);
  --color-cta-card-bg: #a31c16;

  /* news-cards */
  --color-news-bg: light-dark(#e7cd91, #f8b73a);
  --color-news-bg-inverted: light-dark(#e7cd91, #f8b73a);
  --color-cta-newscard-bg: #a31c16;
  --color-cta-newscard-bg-inverted: #a31c16;

  /* Fonts */
  --font-family-sans: "Rubik";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 900;
  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#e7cd91, #f8b73a);
  --color-infobox-1-bg: #a31c16;
  --color-infobox-2-bg: light-dark(#e4c8e2, #cccdc9);
}

html.dark {
  color-scheme: dark;
}

#toggle-btn {
  padding: 10px;
  background: light-dark(#e7cd91, #f8b73a);
  color: light-dark(black, white);
  border: 1px solid currentColor;
  border-radius: 30px;
  display: block;
  border: none;
}
