html {
  font-family: var(--font-family-sans);
  color: var(--color-text);

  background-image: url(../img/gulv2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
}

header {
  height: min-content;
}

#main-disclamer {
  height: 225px;
  background-color: light-dark(#798d6f, #cccdc9);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-inverted);
  margin-right: 5px;
  line-height: 1.3rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: var(--color-head-bg);
  font-size: var(--font-h2-size);
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: var(--font-h2-size);
  line-height: 1.5rem;
  color: white;
  font-size: 1.3rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.sub {
  font-size: var(--font-sub1-size);
  font-weight: var(--font-weight-light);
  color: var(--color-text-inverted);
}

h2 {
  font-size: 2.5rem;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 900;
  padding: 8px;
}

h3 {
  font-size: var(--headline3-size);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 700;
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: var(--color-menu-bg);
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

.daily_card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.info-text {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: var(--color-logotype-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
}

#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
  font-family: "Hedvig Letters Serif", serif;
  color: white;
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: #e7cd91;
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  background-color: var(--color-link-hover);
}

nav a:active {
  background-color: var(--color-link-active);
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}
