@view-transition {
  navigation: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  /*margin: 0;*/
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

.logoinfo {
  padding: 50px;
  margin-top: 5px;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border-radius: 10px;
  font-size: max(1em, 16px);
}

button {
  padding: 16px;
  justify-self: center;
  border: none;
  background-color: #a31c16;
  color: white;
  margin-top: 10px;
}

input:where([type="checkbox"], [type="radio"]) {
  width: 1em;
  height: 1em;
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}
